body,td,th{  font-family:"宋体"; margin-left: 0px;	margin-top: 0px;	margin-right: 0px;	margin-bottom: 0px; font-size: 12px;}

a:link {color:#666666; TEXT-DECORATION: none;} /* 未访问的链接 underline*/
a:visited {color:#666666; TEXT-DECORATION: none;} /* 已访问的链接 */
a:hover {color: #FF0000; TEXT-DECORATION: none;} /* 鼠标移动到链接上 */
a:active {color:#666666; TEXT-DECORATION: none;} /* 选定的链接 */

a.le:link {	text-decoration:none;	color:#000000;}
a.le:visited {	text-decoration:none;	color:#000000;}
a.le:hover {	text-decoration: none;	color:#ff0000;}
a.le:active{	text-decoration: none;	color:#000000;}

a.red:link {	text-decoration:none;	color:#ff0000;}
a.red:visited {	text-decoration:none;	color:#ff0000;}
a.red:hover {	text-decoration: none;	color:#0000ff;}
a.red:active{	text-decoration: none;	color:#ff0000;}

a.f13_x:link {	text-decoration:none;	color:#FD791E;}
a.f13_x:visited {	text-decoration:none;	color:#FD791E;}
a.f13_x:hover {	text-decoration: none;	color:#0196CE;}
a.f13_x:active{	text-decoration: none;	color:#FD791E;}

a.f12_x:link {	text-decoration:none; color:#ffffff;}
a.f12_x:visited {	text-decoration:none; color:#ffffff;}
a.f12_x:hover {	text-decoration: none; color:#000000;}
a.f12_x:active{	text-decoration: none; color:#ffffff;}

a.di:link {	text-decoration:none; color:#767676;}
a.di:visited {	text-decoration:none;	color:#767676;}
a.di:hover {	text-decoration: none;	color:#ff0000;}
a.di:active{	text-decoration: none;	color:#767676;}

a.die:link {	text-decoration:none;	color:#626061;}
a.die:visited {	text-decoration:none;	color:#626061;}
a.die:hover {	text-decoration: none;	color:#ff0000;}
a.die:active{	text-decoration: none;	color:#626061;}

a.ymm:link {	text-decoration:none;	color:#3366cc;}
a.ymm:visited {	text-decoration:none;	color:#3366cc;}
a.ymm:hover {	text-decoration: none;	color:#ff0000;}
a.ymm:active{	text-decoration: none;	color:#3366cc;}

a.ymn:link {	text-decoration:none;	color:#ffffff; font-weight: bold;}
a.ymn:visited {	text-decoration:none;	color:#ffffff; font-weight: bold;}
a.ymn:hover {	text-decoration: none;	color:#cccccc; font-weight: bold;}
a.ymn:active{	text-decoration: none;	color:#ffffff; font-weight: bold;}


/* 头部_____*/
#topbg { background-image: url(topbg.jpg);	background-repeat: repeat-x;height:94px;}
.tbg { margin:0 auto;	background-image: url(tbg.jpg);	width:1134px;	height:88px;}
.up {width:1000px;	height:75px; padding-top: 11px;}
.top_txt{	font-family:"宋体";	font-size: 13px;	color:#666666;	text-align: right;	padding-top: 15px;}
.sj{text-indent: 25px;}


/* 中间 _____*/
#inw {  margin:0 auto;  width:1360px;  }
#inw_bg { background: url(bg.jpg) repeat-y;}
#ztop { float:left; height: 90px; }
#ztop_l {margin-left: 40px;	width:950px; margin-top: 30px;border-bottom-width: 1px;	border-bottom-style: solid;	border-bottom-color: #BEBEBE; }
#nr { margin:0 auto; width:1000px;}
#side { float:left; width: 250px; }
.side_nr{ margin-left: 40px; width:210px;}
.side_nr_l{	border: 1px solid #d5d5d5;	background-image: url(u_lbg.jpg);	background-repeat: repeat-x;	padding-top: 5px;	padding-bottom: 5px;}
#main { float:right; width: 750px;   }
.main_nr{	margin-left: 25px; width:725px;}
.dd { height:40px; font-size:20px; font-family:"微软雅黑";}
.fl { height:32px; line-height:32px; background-color:#F3F3F3; font-size:12px;border-top-width: 1px;	border-bottom-width: 1px;border-top-style: solid; border-bottom-style: solid;border-top-color: #BEBEBE;	border-bottom-color: #BEBEBE;}
.fl1 { font-size: 12px; color:#666666;margin-left: 10px;width:30px; line-height:22px; }
.fl2 { font-size: 12px; color:#ffffff; width:50px;	height:22px; line-height:22px; background-color:#FFB400; text-align: center;}
.fl3 { font-size: 12px; color:#FD791E; margin-left: 10px; }
.ym1 { font-size: 14px;width:22px;	height:22px;color:#ffffff;	border: 1px solid #91AAED;	background-color: #0196CE;	font-weight: bold;	line-height:22px;	text-align: center;
}
.ym2 { font-size: 14px;width:22px;	height:22px;color:#3366cc;	border: 1px solid #cccccc;	background-color: #ffffff;	line-height:22px;	text-align: center; }
.ym3 { font-size: 12px;	width:59px;	height:22px; color:#3366cc;	border: 1px solid #cccccc; background-color: #ffffff; line-height:22px; text-indent: 5px; background-image: url(ym.jpg);	background-repeat: no-repeat;}
.ddlb {height:40px; font-size:18px; font-family:"宋体"; font-weight: bold;	line-height:40px;}
.lb1 { background-color: #f1f1f1; height:74px; line-height:74px;}
.lb2 { background-color: #ffffff; height:74px; line-height:74px;}

/* 底部 _____*/
#bottom{margin:0 auto; width:1000px; height:140px;}
#bottom_l{ float:left; width: 685px; }
#bottom_r { float:right; width: 300px; text-align: right; }
#bottombg { background-image: url(bottombg.jpg);	background-repeat: repeat-x;height:230px;}
.bottom_l_ta{ width:151px; height:95px;	border-right-width: 1px; border-right-style: dashed;	border-right-color: #AEAEAE; text-align: left;}
.bottom_l_tb{ width:178px; height:95px;	border-right-width: 1px; border-right-style: dashed;	border-right-color: #AEAEAE; text-align: center;}
.bottom_txt {color: #333333;font-weight: bold;font-size:16px; font-family:"微软雅黑"; height:50px;}
.bottom_txt_x {color: #767676;font-size:13px; line-height:22px;}
.bq {margin:0 auto; width:1000px;  height:50px;font-size:13px; color: #5f5f5f; text-align: left;  line-height:50px;}


/* 字体颜色_____*/
.z1 {color: #000;font-weight: bold;font-size:15px;font-family:"微软雅黑";	}
.z14 {color: #333333;font-weight: bold;font-size:14px; text-indent: 15px;}
.z14_z {color: #333333;font-weight: bold;font-size:14px; text-align: center;}
.lbtxt1 {color: #333333; font-size:14px;	text-align: center;	border-right-width: 1px; border-right-style: solid;	border-right-color: #FFFFFF;}
.lbtxt2 {font-size:13px; text-align: center; }
.lbtxt3 {color: #626061;font-size:13px; text-align: left;border-right-width: 1px; border-right-style: solid; border-right-color: #FFFFFF; line-height:20px;}
.lbtxt4 {font-size:14px; text-align: center; border-right-width: 1px; border-right-style: solid; border-right-color: #FFFFFF;}
.lbtxt6 {text-align: center; border-right-width: 1px; border-right-style: solid; border-right-color: #FFFFFF;}
.lbtxt5 {font-size:13px; text-align: center; line-height:25px;}

/* 间隔 _____*/
.jg{ height:15px;}
.jg22{ height:22px;}
.jg30{ height:30px; }

.clear{ clear:both; height:0; line-height:0; font-size:0px;}
/* Clear Fix */
.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden; } 
.clearfix { display:inline-block; } /* Hide from IE Mac */
.clearfix { display:block;} /* End hide from IE Mac */ /* end of clearfix */ 
 


