/*  
 *	powered by nehnre
 */
 .btn_comment{
	padding-top:20px;
	float:right;
	text-align:right;
 }
 .btn_comment input{
	background:url(../images/activity/btn_bg.jpg);
	width:119px;
	height:31px;
	border:0px;
	font-weight:bold;
	font-size:16px;
 }
 .activity_ad img{
	border:1px solid #bebebe;
 }
 .activity_content{
	width:733px;
	height:368px;
	background:url(../images/activity/activity_bg.jpg);
 }
 .activity_content .activity_buttons{
	height:40px;
	margin-left:5px;
 }
 .activity_content .activity_buttons .items{
	width:60px;
	height:20px;
	float:left;
	color:#a5a5a5;
	font-family:黑体;
	font-weight:bold;
	font-size:14px;
	padding:20px 0 0 20px;
	cursor:pointer;
 }
 .activity_content .activity_buttons .line{
	width:20px;
	height:40px;
	float:left;
	border-right:1px solid #cbcbcb;
 }
 .activity_content .activity_title{
	height:25px;
	margin-left:25px;
	padding:30px 0 0 0;
	color:#616161;
	font-size:18px;
	font-family:黑体;
	font-weight:bold;
 }
 .activity_content .activity_describ{
	height:240px;
	margin-left:25px;
	margin-top:10px;
 }
 .activity_content .activity_picture{
	width:375px;
	height:235px;
	float:left;
	background-color:white;
	border:1px solid #c0c0c0;
	
 }
 .activity_content .activity_picture img{
	border:1px solid #bebebe;
	margin-left:3px;
	margin-top:3px;
 }
 .activity_content .activity_text{
	height:240px;
	width:265px;
	padding-left:30px;
	float:left;
	position:relative;
	overflow:hidden;
 }
 .activity_content .activity_text .start_time{
	font-size:18px;
	font-family:黑体;
 }
 .activity_content .activity_text .activity_abstract{
	font-size:14px;
	font-family:黑体;
	line-height:22px;
	margin-bottom:10px;
 }
 .activity_content .activity_text .introduce_list ul{
	margin-left:15px;
	line-height:25px;
 }
 .activity_content .activity_text .join_btn{
	position:absolute;
	bottom:5px;
	left:35px;
 }
 .activity_content .introduce_container{
	width:695px;
	height:290px;
	border:1px solid #d4d4d4;
	background-color:white;
	margin:18px 0 0 18px;
  }
 .activity_content .introduce_container .product_introduce{
	width:405px;
	height:250px;
	float:left;
	padding:20px 0 0 20px;
	overflow-x:none;
	overflow-y:auto;
 }
 .activity_content .introduce_container .product_introduce ul li{
	margin:0 0 0 20px;
 }
 .activity_content .introduce_container .product_pic{
	width:260px;
	height:290px;
	float:left;
 }
 .activity_content .introduce_container .brand_introduce{
	width:510px;
	height:250px;
	float:left;
	padding:20px 0 0 20px;
	overflow-x:none;
	overflow-y:auto;
	line-height:1.5;
 }
 .activity_content .introduce_container .brand_pic{
	width:160px;
	height:290px;
	float:left;
 }
 .activity_describe{
	margin-top:10px;
 }
 .activity_describe .content{
	background-color:#F5F5F5;
	border-left:#bebebe solid 1px;
	border-right:#bebebe solid 1px;
	padding:4px 4px 4px 4px;
 }
 .layer1{
	width: 100%;
	height:100%;
 }
 .activity_describe .content img{
	border:1px solid #bebebe;
 }
 .activity_comment{
	margin-top:10px;
 }
 .activity_comment .content{
	background-color:#F5F5F5;
	border-left:#bebebe solid 1px;
	border-right:#bebebe solid 1px;
	padding:10px 10px 10px 10px;
 }
 .activity_comment .comment {
	margin-top:10px;
	margin-bottom:30px;
 }
  .activity_comment .comment .title{
	font-weight:bold;
  }
  .activity_comment .comment .line{
	border-top:#bebebe dashed 1px;
	margin:5px 0 5px 0;
  }
 .right .activity_title1{
	background:url(../images/activity/right_title.jpg);
	height:15px;
	font-weight:bold;
	padding-top:15px;
	padding-left:10px;
 }
 .right .activity_content1{
	border-width:0 1px 1px 1px;
	border-color:#d5d5d5;
	border-style:solid;
	padding:10px 5px 10px 5px;
	line-height:25px;
	background-color:white;
 }

 
 .right .custom_service{
	margin-top:10px;
 }
 .right .activity_faq{
	margin-top:10px;
 }
 
 .btn_comment1 input{
	background:url(../images/activity/btn_bg.jpg);
	width:119px;
	height:31px;
	border:0px;
	font-weight:bold;
	font-size:16px;
 }
 .check_nick_name{
 	color:#565656;
	font-weight:bold;
	overflow:hidden;
	white-space:nowrap;
	margin-right:5px;
	line-height:25px;
	margin-top:10px;
 }
 .check_action{
	margin-top:5px;
}
 .right .check_activity_content{
	border-width:0 1px 1px 1px;
	border-color:#d5d5d5;
	border-style:solid;
	padding:10px 5px 10px 10px;
	background-color:white;
 }
 
 
  .firm_activity_content{
	width:953px;
	height:490px;
	background:url(../images/activity/activity_bg2.jpg);
	background-repeat:repeat;
 }
 
 
 
 .firm_activity_content .activity_buttons{
	height:40px;
	margin-left:5px;
 }
 .firm_activity_content .activity_buttons .items{
	width:60px;
	height:20px;
	float:left;
	color:#a5a5a5;
	font-family:黑体;
	font-weight:bold;
	font-size:14px;
	padding:20px 0 0 20px;
	cursor:pointer;
 }
 .firm_activity_content .activity_buttons .line{
	width:20px;
	height:40px;
	float:left;
	border-right:1px solid #cbcbcb;
 }
 .firm_activity_content .activity_title{
	height:25px;
	margin-left:25px;
	padding:30px 0 0 0;
	color:#616161;
	font-size:18px;
	font-family:黑体;
	font-weight:bold;
 }
 .firm_activity_content .activity_describ{
	margin-left:25px;
	margin-top:10px;
 }
 .firm_activity_content .activity_picture{
	width:375px;
	height:235px;
	float:left;
	background-color:white;
	border:1px solid #c0c0c0;
	
 }
  .firm_activity_content .start_time{
    width:375px;
    margin-top:10px;
	float:left;
	font-size:14px;
	font-family:黑体;
	font-weight:bold;
	background-color:#00DDDD;
	
 }
 .firm_activity_content .activity_call{
    width:375px;
    margin-top:5px;
	float:left;
	font-size:14px;
	font-family:黑体;
	font-weight:bold;
	background-color:#00DDDD;
 }
 .firm_activity_content .activity_url{
    width:375px;
    margin-top:5px;
	float:left;
	font-size:14px;
	font-family:黑体;
	font-weight:bold;
	background-color:white;
 }
  .firm_activity_content .join_btn{
    float:left;
    margin-top:10px;
    width:375px;
	text-align:center;
 }
 .firm_activity_content .activity_picture img{
	border:1px solid #bebebe;
	margin-left:3px;
	margin-top:3px;
 }
 .firm_activity_content .activity_text{
	height:350px;
	width:523px;
	float:left;
 }
 .firm_activity_content .activity_text .activity_abstract{
	width:510px;
	height:350px;
	float:left;
	padding-left:20px;
	overflow-x:none;
	overflow-y:auto;
 }
 .firm_activity_content .activity_text .introduce_list ul{
	margin-left:15px;
	line-height:25px;
 }

 .firm_activity_content .introduce_container{
	width:895px;
	height:390px;
	border:1px solid #d4d4d4;
	background-color:white;
	margin:18px 0 0 18px;
  }
 .firm_activity_content .introduce_container .product_introduce{
	width:605px;
	height:350px;
	float:left;
	padding:20px 0 0 20px;
	overflow-x:none;
	overflow-y:auto;
 }
 .firm_activity_content .introduce_container .product_introduce ul li{
	margin:0 0 0 20px;
 }
 .firm_activity_content .introduce_container .product_pic{
	width:260px;
	height:390px;
	float:left;
 }
 .firm_activity_content .introduce_container .brand_introduce{
	width:710px;
	height:350px;
	float:left;
	padding:20px 0 0 20px;
	overflow-x:none;
	overflow-y:auto;
	line-height:1.5;
 }
 .firm_activity_content .introduce_container .brand_pic{
	width:160px;
	height:390px;
	float:left;
 }
