* {
	font-family: "宋体"
}
div {
	text-align: left;
	line-height: 19px;
	word-wrap: break-word;
	word-break: break-all;
}
.p10 {
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}
.q_ht {
	border-bottom: #cdcdcd 1px dotted;
	padding-bottom: 7px;
	padding-left:7px;
	padding-right: 7px;
	padding-top: 7px;
}
.l {
	float: left;
}
.c6 {
	font-family: arial;
	color: #666;
}
.w65 {
	width: 65px;
	text-align: right;
}
.w85 {
	width: 85px;
	text-align: right;
}
.w105 {
	width: 105px;
	text-align: right;
}
.ml20 {
	margin-left: 20px;
}
.w430 {
	width: 430px;
}
.c{
clear:both;
}

.w70 {
	width: 70px;
	height:30px
	text-align: center;
}
.title{
	padding-bottom: 7px;
	padding-left:7px;
	padding-right: 7px;
}
.titleFont {
	font-family: arial;
	font-size: 20px;
	font-weight:bold;
	color: #666;
}
.lb2 { 
background-color: #f1f1f1; 
height:37px;
line-height:37px;}

