.help_left_title
{
	background: url(../images/help/help_title_bg.jpg) no-repeat;
	background-position:0 1px;
	line-height:30px;
	height:35px;
	font-size:16px;
	color:#999;
	font-weight:bold;
	padding-left:20px;
	position:relative;
	border-bottom:1px solid #BEBEBE;
}

.help_left_title span{
	font-family: 微软雅黑;
	font-size:24px;
	font-weight:normal;
	color:black;
	padding-right:5px;
}

.help_left
{
	background: url(../images/help/help_left_bg.jpg) repeat-x;
	float:left;
	height:100%;
	width:140px;
	border:1px solid #D5D5D5;
	border-top:0px;
	background-color:#FFFFFF;
	margin-top:20px;
	padding-top:5px;
	padding-left:70px;
}

.help_left ul
{
	list-style: none;
}

.help_left ul li
{
	padding-top:20px;
}

.help_left ul li a
{
	text-decoration:none;
	cursor:pointer;
	color:Black;
}

.help_left ul li a:hover
{
	text-decoration:underline;
	cursor:pointer;
	color:Black;
}

.help_item_title
{
	font-family:黑体;
	font-size:15px;
	font-weight:bold;
}

.help_right{
	float:left;
	height:100%;
	width:690px;
	margin-left:30px;
	margin-top:20px;
}

.help_right_title
{
	font-family:微软雅黑;
	font-size:20px;
	margin-bottom:10px;
}

.help_right_content
{
	border-top:1px solid #DEDEE0;
	border-bottom:1px solid #DEDEE0;
	background-color:#F3F3F3;
	width:100%;
	line-height:25px;
	padding-top:10px;
	padding-left:15px;
	padding-right:5px;
}

.help_right_content span
{
	font-weight:bold;
}